#!KAMAILIO
#
# Kamailio SMS-IWF & SMPP Server/Client Configuration
# Architecture:
#   [Client (You)] -> SMPP (Port 2779) -> [Kamailio SMS-IWF] -> [SMSC Simulators 1..4]
#

####### Global Parameters #########
debug=2
log_stderror=yes
children=2

listen=tcp:0.0.0.0:5060
listen=udp:0.0.0.0:5060

mhomed=0
tcp_accept_aliases=no

####### Modules Section #########
mpath="/usr/local/lib64/kamailio/modules/"

loadmodule "smpp.so"

####### SMPP Module Configuration #########
# Kamailio listens for incoming SMPP connections from Clients/ESMEs
modparam("smpp", "listen_ip", "0.0.0.0")
modparam("smpp", "listen_port", 2779)
modparam("smpp", "default_client_mps", 50)
modparam("smpp", "enquire_link_interval", 30)

####### Routing Logic #########
request_route {
    drop;
}
