#!KAMAILIO
#
# Kamailio SMS-IWF Configuration using Lua KEMI Engine
#

####### Global Parameters #########
debug=2
log_stderror=yes
children=4

listen=tcp:0.0.0.0:5060
listen=udp:0.0.0.0:5060

mpath="/usr/local/lib64/kamailio/modules/"

loadmodule "sl.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "xlog.so"
loadmodule "app_lua.so"
loadmodule "smpp.so"

####### SMPP Module Configuration #########
modparam("smpp", "listen_ip", "0.0.0.0")
modparam("smpp", "listen_port", 2779)
modparam("smpp", "default_client_mps", 50)
modparam("smpp", "enquire_link_interval", 30)
modparam("smpp", "msgid_format", "%PREFIX%-%TIMESTAMP%-%HEXSEQ%")

####### Lua KEMI Configuration #########
modparam("app_lua", "load", "/usr/local/etc/kamailio/app.lua")

cfgengine "lua"
